:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--Grayish-Blue);
  font-family: 'Bai Jamjuree';
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
}

p {
  line-height: 1.65;
  letter-spacing: 0.1px;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.55rem;
}

@media (min-width: 40em) {
  p {
    font-size: 1.125rem;
    max-width: 60ch;
    letter-spacing: initial;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 2.15rem;
  }
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

/* utility classes */

.container {
  width: 83%;
  max-width: 1300px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (min-width: 40em) {
  .flex {
    flex-direction: row;
  }
}

/* General styles */

header,
section {
  padding: 3rem 0;
}

section > p:first-of-type {
  margin-bottom: 4rem;
}

.btn {
  display: block;
  padding: 1.15em 2.25em;
  background-color: var(--Strong-Cyan);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 100vw;
  box-shadow: inset 0px -2px 0px 1px rgba(0, 0, 0, 0.25);
}

.btn--blue {
  background-color: var(--Light-Blue);
}

@media (min-width: 40em) {
  .btn {
    display: inline-block;
  }
}

/* Header */

header {
  background: url(images/bg-header-mobile.png) no-repeat;
  background-size: contain;
}

header .logo {
  margin-top: 4.5rem;
  margin-bottom: 2.25rem;
}

header p {
  margin-bottom: 3rem;
}

header .btn {
  margin-bottom: 1.5rem;
}

@media (min-width: 40em) {
  header {
    background: url(images/bg-header-desktop.png) no-repeat top center;
    background-size: contain;
  }
  header a:nth-of-type(2) {
    margin-right: 0.75rem;
  }

  header h1 {
    font-size: 2.85rem;
  }

  header p {
    font-size: 1.3rem;
    max-width: 55ch;
  }
}

/* Section 1 */

@media (min-width: 40em) {
  .shifted {
    align-items: center;
    justify-content: space-between;
  }

  .img-div {
    position: relative;
    left: -14%;
  }

  .right-column {
    transform: translateX(-28%);
    flex-direction: column;
    flex-basis: 70%;
    gap: 1em;
    text-align: left;
    max-width: 38ch;
  }

  .section-1 h3 {
    margin-bottom: 0;
  }
}

/* Section 3 */

.section-3 .flex {
  justify-content: center;
}

@media (min-width: 40em) {
  .section-3 .flex {
    gap: 1.15em;
  }
}

.section-3 .flex > * {
  flex-basis: 100%;
}

.section-3 h3 {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.blacklist {
  height: 32px;
}

/* Section 4 */

.section-4 {
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}

.section-4 img {
  max-width: 40%;
}

/* Section 5 */

.section-5 {
  padding-bottom: 9rem;
}

.section-5 a:first-of-type {
  margin-bottom: 1.5rem;
}

@media (min-width: 40em) {
  .section-5 a:first-of-type {
    margin-right: 0.75rem;
  }
}
