:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--Grayish-Blue);
  font-family: 'Bai Jamjuree';
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--Dark-Grayish-Blue);
}

p {
  line-height: 1.65;
  letter-spacing: 0.1px;
}

@media (min-width: 40em) {
  p {
    font-size: 1.125rem;
    max-width: 60ch;
    letter-spacing: initial;
    margin-left: auto;
    margin-right: auto;
  }
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

/* utility classes */

.container {
  width: 83%;
  margin: 0 auto;
}

/* General styles */

header,
section {
  padding: 3rem 0;
}

.btn {
  display: block;
  padding: 1.15em 2.25em;
  background-color: var(--Strong-Cyan);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 100vw;
  box-shadow: inset 0px -2px 0px 1px rgba(0, 0, 0, 0.25);
}

.btn--blue {
  background-color: var(--Light-Blue);
}

@media (min-width: 40em) {
  .btn {
    display: inline-block;
  }
}

/* Header */

header {
  background: url(images/bg-header-mobile.png) no-repeat;
  background-size: contain;
}

header .logo {
  margin-top: 3rem;
  margin-bottom: 2.25rem;
}

header p {
  margin-bottom: 3rem;
}

header .btn {
  margin-bottom: 1.5rem;
}

@media (min-width: 40em) {
  header {
    background: url(images/bg-header-desktop.png) no-repeat top center;
    background-size: contain;
  }
  header a:nth-of-type(2) {
    margin-right: 1rem;
  }

  header h1 {
    font-size: 2.85rem;
  }

  header p {
    font-size: 1.3rem;
    max-width: 55ch;
  }
}
